关于 HTTP

## <a name="index"></a> 目录
- [想法](#think)
- [简介](#intro)
- [HTTP 历史](#history)
- [OSI 和 TCP/IP](#model)
- [HTTP 基本特性](#attribute)
- [关系密切的协议](#connect)
- [参考资料](#reference)


## <a name="think"></a> 想法
在工作中也逐渐接触到了一些内容，意识到这个迟早要捡起来。HTTP 涉及的内容很多，个人比较喜欢有目的性的去接触，在此先对其有个大概的认识。

## <a name="intro"></a> 简介
现在是一个互联网时代，我们通常通过 PC 或者手机上应用访问的 Web 页面，都是通过 HTTP 协议进行通信。HTTP 全称 `HyperText Transfer Protocol`，超文本传输协议，是用于传输超媒体文档（例如 HTML、图片、视频）的应用层协议。它定义了信息格式和传输方式，为 Web 应用程序与 Web 服务器之间的通讯制定了规则。除此之外，也可以用于其它目的。

HTTP 遵循经典的**客户端-服务器**模型，客户端向服务器发送 HTTP 请求，服务器会在 HTTP 响应中返回所请求的数据。例如，浏览器进入一个页面的时（比如 http://www.test.com/index.html ），浏览器会向服务器 `www.test.com` 发送一条 HTTP 请求，服务器会去寻找所期望的对象（这里就是 index.html），如果成功，就将对象、对象类型和长度等其它信息放到 HTTP 响应中发送给客户端。

## <a name="history"></a> HTTP 历史
### 1989
- Tim Berners-Lee 在 CERN（欧洲核子研究组织）提出 HTTP，本意是为了让全世界的研究者们进行知识共享。

### 1990.11
- CERN 成功研发了世界上第一台 Web 服务器和 Web 浏览器。

### 1991
- HTTP 的第一个文档版本是 HTTP/0.9，那时并没有作为正式的标准，其定义的初衷是为了获取简单的 HTML 对象。
- HTTP/0.9 只支持 GET 方法，不支持多媒体内容的 MIME 类型、各种 HTTP 首部，或者版本号。
- HTTP/0.9 有很多严重的设计缺陷，它很快就被 HTTP/1.0 取代了。

### 1996.05
- HTTP 正式作为标准公布，版本被命名为 HTTP/1.0，并记载于 [RFC 1945][url-rfc1945]。HTTP/1.0 是第一个得到广泛使用的 HTTP 版本。
- HTTP/1.0 添加了版本号、各种 HTTP 首部、一些额外的方法，以及对多媒体对象的处理。
- HTTP/1.0 使得包含生动图片的 Web 页面和交互式表格成为可能，而这些页面和表格促使万维网为人们广泛地接受。
- 在这个 HTTP 协议的商业演进和学术研究都在快速进行的时代，HTTP/1.0 集合了一系列的最佳实践。

在 20 世纪 90 年代中叶，很多流行的 Web 客户端和服务器都在向 HTTP 中添加各种特性，以满足快速扩张和商业上的需要。其中很多特性，包括持久的 keep-alive 连接、虚拟主机支持，以及代理连接支持都被加入到 HTTP 之中，并成为非官方的事实标准。这种非正式的 HTTP 扩展版本通常称为 HTTP/1.0+。

### 1997.01
- HTTP/1.1 版本公布，记载于 [RFC 2616][url-rfc2616]。
- HTTP/1.1 重点关注的是校正 HTTP 设计中的结构性缺陷，明确语义，引入重要的性能优化措施，并删除一些不好的特性。
- HTTP/1.1 还包含了对 20 世纪 90 年代末正在发展中的更复杂的 Web 应用程序和部署方式的支持。

### 2015.05
- HTTP/2 标准发布，记载于 [RFC 7540][url-rfc7540]。
- HTTP/2 重点关注的是性能的大幅优化，具体可见 [HTTP/2][url-google-develop-http2]。

<div align="right"><a href="#index">Back to top :arrow_up:</a></div>

## <a name="model"></a> OSI 和 TCP/IP
说到 HTTP，就离不开其基于的理论模型。
### OSI
20 世纪 60 年代以来，计算机网络飞速发展，各大厂商为了在数据通信网络上占据主导地位，纷纷推出了各种网络架构体系和标准。为了解决网络之间的兼容性问题，国际化组织 ISO 于 1984 年提出了 OSI model（Open System Interconnection model，开放系统互连模型）标准。

层 | 名称
:---- | :----
7 | Application（应用层）
6 | Presentation（表示层）
5 | Session（会话层）
4 | Transport（传输层）
3 | Network（网路层）
2 | Date link（数据链路层）
1 | Physical（物理层）

它们作用分别是：
- 应用层：高级 APIs，包括资源共享，远程文件访问，例如 HTTP、SMTP、IMAP。
- 表示层：在网络服务和应用间转换数据，包括字符编码，数据压缩和加密/解密，例如 SSL、TLS。
- 会话层：多连接管理。
- 传输层：在网络上的点之间可靠地传输数据段，包括分段，确认和多路复用网络上可信赖的数据传输，例如 TCP、UDP。
- 网络层：构建和管理多节点网络，包括寻址，路由和流量控制，例如 IP、IPSec。
- 数据链路层：在由物理层连接的两个节点之间可靠地传输数据帧，例如以外网。
- 物理层：通过物理介质发送和接收原始比特流，例如 CAT 5。

以这种方式安排通信可以清晰地划分概念：高层的协议不必担心在底层实现的功能。进一步说，不同层次的协议可以加入通信或者从通信中删除，一种底层协议可以服务于多种上层协议。

由于 OSI 模型和协议较复杂，没有得到广泛的应用。

### TCP/IP
TCP/IP（transfer control protocol/internet protocol，传输控制协议/网际协议）模型因其开放性和易用性，在实践中得到了广泛的应用，TCP/IP 协议族成为互联网的主流协议。TCP/IP 协议族是互联网相关联的协议的集合。

层 | 名称 | 示例
:---- | :---- | :----
5 | Application（应用层） | HTTP、Telnet、FTP、TFTP
4 | Transport（传输层） | TCP、UDP
3 | Network（网路层） | IP
2 | Date link（数据链路层）| Ethernet、802.3、PPP
1 | Physical（物理层） | 接口和线缆

各层的作用跟 OSI 差不多。其通信过程用 HTTP 举例简单说明：
1. 客户端在应用层（HTTP 协议）发出一个 Web 页面的 HTTP 请求；
2. 接着，为了传输方便，在传输层（TCP 协议）把应用层处接收的数据进行分割和标记，然后转发给网络层；
3. 在网路层（IP 协议），增加作为通信目的的 MAC 地址后转发给数据链路层；
4. 数据链路层对数据进行封装后，传递给物理层。

服务器接收到数据后，按序往上层发送，一直到应用层，当传输到应用层，才能算真正接收到客户端发送过来的 HTTP 请求。

<div align="right"><a href="#index">Back to top :arrow_up:</a></div>

## <a name="attribute"></a> HTTP 基本特性
### 1. HTTP 可扩展
在 HTTP/1.0 中引入的 [HTTP headers][url-mdn-http-headers] 使该协议易于扩展和实验。只要服务端和客户端就新的 headers 达成语义一致，新功能就可以被轻松加入进来。

### 2. HTTP 通过请求和响应的交换达成通信
HTTP 协议规定，请求从客户端发出，最后服务器端响应该请求并返回。

请求报文由请求方法、请求URI、协议版本、可选的请求首部字段和内容实体构成。

![31-request][url-local-request]

响应报文基本上由协议版本、状态码（表示请求成功或失败的数字代码）、用以解释状态码的原因短语、可选的响应首部字段以及实体主体构成。

![31-response][url-local-response]

### 3. HTTP 方法

方法 | 说明 | 支持的协议版本
:---- | :---- | :----
GET | 获取资源 | 1.0、1.1
POST | 传输实体主体 | 1.0、1.1
PUT | 传输文件 | 1.0、1.1
HEAD | 获得报文首部 | 1.0、1.1
DELETE | 删除文件 | 1.0、1.1
OPTIONS | 询问支持的方法 | 1.1
TRACE | 追踪路径 | 1.1
CONNECT | 要求用隧道协议连接代理 | 1.1
LINK | 建立和资源之间的联系 | 1.0
UNLINE | 断开连接关系 | 1.0

### 4. HTTP 不保存状态
HTTP 是一种不保存状态，即无状态（stateless）协议。HTTP 协议自身不对请求和响应之间的通信状态进行保存。也就是说在 HTTP 这个级别，协议对于发送过的请求或响应都不做持久化处理。这么做是为了更快地处理大量事物，确保协议的可伸缩性。

随着 Web 不断发展，无状态让一些场景的处理变得很棘手，例如进入一个网站，登录态的保持。为了实现期望的保持状态功能，引入了 [Cookie][url-mdn-cookie] 技术。

Cookie 技术通过在请求和响应报文中写入 Cookie 信息来控制客户端的状态。

Cookie 会根据从服务器端发送的响应报文内的一个叫做 Set-Cookie 的首部字段信息，通知客户端保存 Cookie。当下次客户端再往该服务器发送请求时，客户端会自动在请求报文中加入 Cookie 值后发送出去。

服务器端发现客户端发送过来的 Cookie 后，会去检查究竟是从哪一个客户端发来的连接请求，然后对比服务器上的记录，最后得到之前的状态信息。

### 5. 持久连接
HTTP 协议的初始版本中，每进行一次 HTTP 通信就要断开一次 TCP 连接。随着互联网的普及，页面中包含的内容越来越多，例如图片和视频。每次的请求都会造成 TCP 连接建立和断开，增加通信量的开销。

为解决这个问题，HTTP/1.1 和一部分的 HTTP/1.0 想出了持久连接（HTTP Persistent Connections，也称为 HTTP keep-alive 或 HTTP connection reuse）的方法。持久连接的特点是：只要任意一端没有明确提出断开连接，则保持 TCP 连接状态。在 HTTP/1.0 内并未标准化。在 HTTP/1.1 中，所有的连接默认都是持久连接。

持久连接使得多数请求以管线化（pipelining）方式发送成为可能。从前发送请求后需等待并收到响应，才能发送下一个请求。管线化技术出现后，不用等待响应亦可直接发送下一个请求。这样就能够做到同时并行发送多个请求，而不需要一个接一个地等待响应了。

<div align="right"><a href="#index">Back to top :arrow_up:</a></div>

## <a name="connect"></a> 关系密切的协议
与 HTTP 密不可分的协议有：IP、TCP、DNS。下面分别进行说明。
### IP 协议
IP（Internet Protocol）协议位于网路层，作用是把各种数据包传送给对方。要确保传送给对方，需要满足很多条件，其中有两个很重要条件：
- IP 地址，指明了节点被分配的地址，可变换。
- MAC 地址，是网卡所属的固定地址，在全球唯一，由 48 个二进制组成，通常使用十六进制表示。

IP 间的通信依赖 MAC 地址。在网络上通信的双方，通常要经过多台计算机和网络设备中转，才能连接到对方。在进行中转时，会利用下一站中转设备的 MAC 地址来搜索下一个中转目标。这时，会采用 ARP 协议（AddressResolution Protocol）。ARP 是一种解析地址的协议，根据通信方的 IP 地址就可以反查出对应的 MAC 地址。

### TCP 协议
TCP 协议位于传输层，提供可靠的字节流服务。字节流服务是指，为了方便运输，将大块数据分割成以报文段（segment）为单位的数据包进行管理。可靠的传输服务是指，能够把数据准确可靠地传给对方。

为了准确无误地将数据送达目标处，TCP 协议采用了三次握手（three-way handshaking）策略。握手过程中使用了 TCP 的标志（flag） —— SYN（synchronize） 和
ACK（acknowledgement）。
1. 第一次：发送端首先发一个电邮 SYN 标志的数据包给对方。
2. 第二次：接收端收到后，回传一个带有 SYN/ACK 标志的数据包以表示传达确认信息。
3. 第三次：最后，发送端再回传一个带有 ACK 标志的数据包，代表“握手”结束。

除此之外，TCP 协议还有其它各种手段保证通信的可靠性，例如重传机制、数据去重、流量控制等等。由于不在此讨论范围内，择日再详细了解。

### DNS 协议
DNS（Domain Name System）服务是和 HTTP 协议一样位于应用层的协议。它提供域名到 IP 地址之间的解析服务。

计算机既可以被赋予 IP 地址，也可以被赋予主机名和域名。用户通常使用主机名或域名来访问对方的计算机，而不是直接通过 IP 地址访问。因为与 IP 地址的一组纯数字相比，用字母配合数字的表示形式来指定计算机名更符合人类的记忆习惯。

但要让计算机去理解名称，相对而言就变得困难了。因为计算机更擅长处理一长串数字。为了解决上述的问题，DNS 服务应运而生。DNS 协议提供通过域名查找 IP 地址，或逆向从 IP 地址反查域名的服务。

<div align="right"><a href="#index">Back to top :arrow_up:</a></div>

## <a name="reference"></a> 参考资料
- [Hypertext Transfer Protocol](https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol)
- [HTTP 权威指南](http://www.ituring.com.cn/book/844)
- [图解HTTP](http://www.ituring.com.cn/book/1229)
- [MDN HTTP](https://developer.mozilla.org/en-US/docs/Web/HTTP)
- [HTTP/2](https://en.wikipedia.org/wiki/HTTP/2)
- [HTTPS权威指南](http://www.ituring.com.cn/book/1734)
- [OSI model](https://en.wikipedia.org/wiki/OSI_model)

[url-base]:https://xxholic.github.io/blog/draft

[url-rfc1945]:https://tools.ietf.org/html/rfc1945
[url-rfc2616]:https://www.ietf.org/rfc/rfc2616.txt
[url-rfc7540]:https://www.ietf.org/rfc/rfc2616.txt
[url-google-develop-http2]:https://developers.google.com/web/fundamentals/performance/http2/
[url-mdn-http-headers]:https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers
[url-mdn-cookie]:https://developer.mozilla.org/en-US/docs/Web/API/Document/cookie

[url-local-request]:https://xxholic.github.io/blog/draft/images/31/31-request.png
[url-local-response]:https://xxholic.github.io/blog/draft/images/31/31-response.png
